body {
    font-family: "Sora", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2d7d32, #1b5e20);
    margin: 0;
}

/* Caja del login */

.login-container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    border-top: 6px solid #2d7d32;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Logo */
.login-container img {
    width: 120px;
    margin-bottom: 10px;
}

/* Titulos */

h3 {
    margin: 10px;
    color: #2d7d32;
}

p {
    margin: 0;
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

/* Formulario */

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}

/* Labels */

label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #2d7d32;
}

/* Contenedor de input + icono */
.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
}

/* Iconos */

.input-container i {
    color: gray;
    margin-right: 8px;
}

/* Inputs */

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

/* Focus moderno */

.input-container:focus-within {
    border-color: #2d7d32;
    box-shadow: 0 0 8px rgba(45, 125, 50, 0.3);
}

/* Boton */

button {
    margin-top: 10px;
    background: #2d7d32;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
}

/* Hover */

button:hover {
    background: #256a29;
    transform: translateY(-2px);
}